#links li{
  display: inline-block;
  margin-top: 1em;
  background-color: orange;
  padding: 0.5em;
  border-radius: 4px;
}
a {
  text-decoration: none;
  font-family: arial;
  font-weight: 600;
}
a:hover {
  color: red;
}
html {
  background-color: rgba(100,100,50,0.6);
}
body {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(200,200,100,0.3);
}
section {
  padding: 1em 4em;
  font-family: arial;
  color: brown;
}
table td.siffror {
  text-align: right;
}
